@page {
  size: A4;
  margin: 0;
}
body {
    display: grid;
    height: 100vh;
    margin: 0;
    justify-content: center ;
    padding: 1rem;
  }
input:focus {
  outline: 1px solid grey;
}
.one{
  float: left;
}
.two
{
  float: right;
}
.wp2{
    background: #f2f2f2;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.container {
  display: block;
  max-width: 480px;
  min-width: 300px;
  margin: 10 auto;
  padding: 10 40px;
}  
.wp1{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    padding: 10px;
    font-size: 13px;
    font-Family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    width: 595px;
    height: 842px;
    }
table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(odd) {
        background-color: #dddddd;
      }     
.p1{ 
      padding:15px;
      border: 1px, solid black;
      border-Collapse: 'collapse'
    };
input[type=date] {
    background:#fff url(./calendar_2.png)  97% 50% no-repeat ;
}
input[type=date]::-webkit-inner-spin-button {
    display: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
    
input{
    display:block;
    margin: 5px;
    border: 1px solid #c4c4c4;
    /* border-radius: 5px; */
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 90%;
}

.wp2 > h2, h4 {
  text-align: center;
}

.submit >input {
  width: 95%;
  margin-top: 30px;
  line-height: 25px;
  background-color: rgb(25, 151, 130);
  color: white;
  font-weight: bold;
}

.submit >input:hover {
  background-color: rgb(18, 138, 118);
}